{
  "presets": ["es2015", "stage-0"],
  "plugins": [
    "transform-es2015-arrow-functions",
    "transform-async-to-generator",
    "transform-es2015-destructuring",
    [
      "babel-plugin-transform-builtin-classes",
      {
        "globals": ["Error"]
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["es2015", "stage-0"]
    }
  }
}
